@{
    ViewData["Title"] = "Hakkımda";
}

<div class="container">
    <p class="text-center fw-bold fs-2 m-3">Aylin Biçmen</p>
    <p class="text-center fs-4 m-3">aylin.bicmen99@gmail.com</p>
    <div class="text-center">
        <a href="https://www.linkedin.com/in/aylinbicmen" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" style="color: #000000;"></i></a>
        <a href="https://github.com/aylinbicmen" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i></i></a>
    </div>
</div>