@{
    ViewData["Title"] = "Ana Menü";
}

<div class="row">
    <div class="col-lg-4 mt-5">
        <h1 class="mb-3">İşletmeniz İçin Daha İyi Çözümler...</h1>
        <h2 class="fs-4 text-muted">Artık müşterilerinizi kolayca yönetebilirsiniz.</h2>

        <div class="d-grid gap-2 mt-5">
            <a role="button" aria-disabled="true" class="btn btn-outline-primary" asp-action="Add" asp-controller="Customer">Şimdi Başla!</a>
        </div>
    </div>
    <div class="col-lg-8">
        <img style="height:100%; width:100%" src="~/img/why-us.png" />
    </div>
</div>
