<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTS - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomerDetails.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/3502067e0b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home"><i class="fa-solid fa-user fa"></i> Müşteri Takip Sistemi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex justify-content-start">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-action="Index" asp-controller="Home">Ana Menü</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Add" asp-controller="Customer">Müşteri Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="All" asp-controller="Home">Tüm Müşteriler</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="About" asp-controller="Home">Hakkımda</a>
                        </li>
                    </ul>
                </div>
            </div>
       </nav>
    </header>
    <div class="container">
        <main role="main" class="m-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted fixed-bottom" style="background-color: #e3f2fd;">
        <p class="text-center text-muted"><i class="fa-solid fa-user fa"></i> - @DateTime.Today.Year - Müşteri Takip Sistemi</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
